
.o_home_menu_background {
    background-image: url(/custom_login/static/src/img/step0001_2560x1098.png);
    background-size: cover;
}

.card-body {
 background-color: white;
}

body {
    height: auto !important;
}
